btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 20px;
    border: 0px;
    border: 1px solid $orange;
    background: $white;
    font-size: 16px;
    font-family: mainFont;
    &:hover {
        box-shadow: 0 0 2px 1px $orange;
        border: 0px;
    }
}

pagination-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 20px;
    border: 0px;
    border: 1px solid $orange;
    font-size: 16px;
    font-family: mainFont;
    background: $white;
    &:hover {
        box-shadow: 0px 0px 2px 1px $orange;
    }
}

close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    border-radius: 20px;
    border: 0px;
    border: 1px solid $darkBlue;
    background: $white;
    font-size: 16px;
    font-family: mainFont;
    &:hover {
        box-shadow: 0 0 2px 1px red;
        border: 0px;
    }
}

settings-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 180px;
    border: 0px;
    background: $backgroundWhite;
    font-size: 16px;
    font-family: mainFont;
    &:hover {
        color: $orange;
    }
}
settings-closeBtn {
    height: 20px;
    width: 20px;
    border: none;
    background-image: url('../../data/icons/closeIcon.svg');
    background-size: 100%;
    background-color: transparent;
    filter: invert(70%) sepia(12%) saturate(3493%) hue-rotate(322deg) brightness(96%) contrast(95%);
}