.lineChart {
    &__chart {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        padding: 0px;
        margin: 0px;
    }
    &__selector {
        display: flex;
        justify-content: flex-end;
        gap: 0px;
        width: 140px;
        height: 20px;
        position: absolute;
        right: 2px;
        top: 2px;
        font-size: 14px;
        font-family: 'mainFont';
        & button {
            border: 0;
            background: transparent;
            padding: 3px;
        }
        &__year {
            &:hover {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 2px;
                    height: 2px;
                    width: 28px;
                    border-radius: 2px;
                    background: $orange;
                }
            }
        }
        &__month {
            &:hover {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 2px;
                    height: 2px;
                    width: 38px;
                    border-radius: 2px;
                    background: $orange;
                }
            }
        }
        &__week {
            &:hover {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 2px;
                    height: 2px;
                    width: 34px;
                    border-radius: 2px;
                    background: $orange;
                }
            }
        }
    }
}