@import '../colorsAndFonts';
.header {
    display: flex;
    background: $darkBlue;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    width: 100vw;
    &__hamburger {
        position: relative;
        width: 26px;
        height: 3px;
        border-radius: 2px;
        background: $white;
        z-index: 1;
        &::before {
            content: '';
            width: 26px;
            height: 3px;
            border-radius: 2px;
            background: $white;
            position: absolute;
            top: 8px;
            left: 0px;
            transition: all 300ms;
        }
        &::after {
            content: '';
            width: 26px;
            height: 3px;
            border-radius: 2px;
            background: $white;
            position: absolute;
            bottom: 8px;
            left: 0px;
            transition: all 300ms;
        }

        &__btn {
            background: transparent;
            border: 0px;
            position: absolute;
            top: -10px;
            bottom: -10px;
            left: -1px;
            right: 1px;
            pointer-events: pointer;
        }
    }
}


.navBar {
    display: flex;
    background: $navBarBlue;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    width: 160px;
    transition: all 300ms;
    transform-origin: left;
    transform: scaleX(0);
    padding-top: 50px;
    &__list {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        width: 100%;
        align-items: center;
        gap: 6px;
        & button {
            background: transparent;
            border: none;
            width: 100%;
            height: 40px;
            padding: 2px;
            font-family: 'mainFont';
            font-size: 16px;
            &:hover {
                background: $navBarHover;
            }
        }
    }
}

.clicked {
    background: none;
    &::before {
        top: 0;
        transform: rotate(45deg);
    }
    &::after {
        bottom: 0;
        transform: rotate(-45deg);
    }
}

@keyframes growRight {
    0% {
        width: 0px;
    }
    90% {
        width: 140px;
    }
    100% {
        width: 160px;
    }
}

@keyframes closeLeft {
    0% {
        width: 160px;
    }
    90% {
        width: 20px;
    }
    100% {
        width: 0px;
    }
}