.largeReview {
    display: flex;
    border-bottom: 1px solid $lightGrey;
    font-family: 'mainFont';
    font-size: 16px;
    // padding-top: 0px;
    transition: all 0.3s;
    padding-bottom: 12px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: center;
    max-height: 150px;
    &__info {
        display: flex;
        position: relative;
        width: 100%;
        max-height: 140px;
        padding-top: 10px;
        padding-bottom: 10px;
        &__body {
            display: -webkit-box;
            position: relative;
            width: 80%;
            padding-right: 40px;
            padding-top: 6px;
            padding-bottom: 6px;
            height: 38px;
            overflow: hidden;
            align-items: center;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            &__header {
                display: none;
                justify-content: space-between;
                padding-bottom: 10px;
                &__title {
                    display: flex;
                    font-size: 20px;
                }
                &__date {
                    display: flex;
                    padding-top: 6px;
                }
            }
            &__comment {
                height: 100%;
                font-size: 16px;
            }
        }
        &__closeBtn {
            position: absolute;
            border: none;
            right: 4px;
            top: 4px;
            display: none;
            background: url('../../data/closeIcon.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            filter: invert(70%) sepia(12%) saturate(3493%) hue-rotate(322deg) brightness(96%) contrast(95%);
        }
        &__rating {
            display: flex;
            flex-direction: row;
            gap: 4px;
            width: 10%;
            border-left: 2px solid $lightGrey;
            justify-content: center;
            align-items: center;
            padding: 10px;
            &__expandBtn {
                background: url('../../data/arrowDown.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                border: none;
                right: 4px;
                top: 0px;
                height: 20px;
                width: 20px;
                filter: invert(70%) sepia(12%) saturate(3493%) hue-rotate(322deg) brightness(96%) contrast(95%);
            }
            &__icon {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 25px;
                height: 26px;
                background-image: url('../../data/starIcon.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                filter: invert(70%) sepia(12%) saturate(3493%) hue-rotate(322deg) brightness(96%) contrast(95%);
                margin-bottom: 4px;
            }
        }
    }
}

.showAll {
    transition: all 1s;
    display: block;
    height: 120px;
    padding-top: 0px;
    overflow: scroll;
    -webkit-line-clamp: none;
    -webkit-box-orient: vertical;
}