@import './fileInput.scss';
@import './items.scss';
.allItems {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    &__grid {
        display: grid;
        height: 100%;
        grid-template-columns: auto 700px 320px auto;
        grid-template-rows: 50px 10px 50px 500px auto 40px;
        gap: 20px;
        &__header {
            grid-row: 1/1;
            grid-column: 1/5;
            width: 100vw;
        }
        &__title {
            grid-row: 3/3;
            grid-column: 2/4;
            padding-left: 2px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            &__text {
                font-family: 'mainFont';
                font-size: 36px;
                height: 100%;
            }
        }
        &__items {
            grid-row: 4/4;
            grid-column: 2/2;
        }
        &__fileInput {
            grid-row: 4/4;
            grid-column: 3/3;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__footer {
            grid-row: 6/6;
            grid-column: 1/5;
            background: green;
        }
    }
}