
.fileInput {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $lightBlue;
    border-radius: 10px;
    &__title {
        display: flex;
        height: 50px;
        font-family: 'mainFont';
        font-size: 20px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        &__fileLabel {
            display: flex;
            justify-content: center;
            align-items: center;
            background: $white;
            height: 180px;
            width: 280px;
            border-radius: 5px;
            border: 1px solid $grey;
            &__text {
                font-family: 'mainFont';
                font-size: 20px;
            }
        }
        &__submitBtn {
            @extend btn;
            width: 100px;
            height: 34px;
        }
    }
}

input[type="file"] {
    display: none;
}