.items {
    box-shadow: 0 0 40px 1px $shadow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 0px;
    &__header {
        display: flex;
        gap: 10px;
        align-items: flex-start;
        height: 70px;
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
        padding-top: 12px;
        box-sizing: border-box;
        &__search {
            padding-top: 0px;
        }
    }
    &__list {
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    &__pagination {
        height: 60px;
    }
}

.selected {
    display: 'flex';
    padding-top: '2px';
    background-color: $red;
    :hover {
        background: transparent;
    }
}