@font-face {
    font-family: 'mainFont';
    letter-spacing: 2px;
    src: url('../data/fonts/mulish.ttf');
}

$lightBlue : #CBDAF0;
$darkBlue : #4F5D75;
$orange : #EF8354;
$black : #2D3142;
$grey : #545454;
$linkBlue: #2156c0;
$shadow : #b5b5b5;
$white : #FFFFFF;
$black : #000000;
$green : #0ba100;
$red : #ff0000;
$lightRed : #FF9494;
$navBarBlue : #4f5d75d3;
$navBarHover : #4f5d75;
$lightGrey : #c2c2c2;
$hover : #f5f5f5;
$secondaryLine : #8884d8;
$successGreen : #16ca4c;
$backgroundWhite : #F5F5F5;
$footerWhite : #e3e3e3;
$darkHover: #f1f1f1;
$containerWhite: #fefefe;