@font-face {
    font-family: 'mainFont';
    letter-spacing: 2px;
    src: url('../data/hind.ttf');
}

$lightBlue : #CBDAF0;
$darkBlue : #4F5D75;
$orange : #EF8354;
$black : #2D3142;
$lightGrey : #545454;
$linkBlue: #2156c0;
$shadow : #b5b5b5;
$white : #FFFFFF;