@import './login/login.scss';
@import './components/components.scss';
@import './home/home.scss';
@import './allItems/allItems.scss';
@import './item/item.scss';
@import './settings/settings.scss';

html,body {
    margin:0;
    padding:0;
}

.layout {
    height: 100vh;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    font-family: 'mainFont';
    justify-content: space-between;
    &__header {
        height: 50px;
    }
    &__content {
        height: 100%;
    }
    &__footer {
        height: 200px;
    }
}