/**
 * Sets the stats container for home page. Contains one recharts barchart that does not have css here as it is from
 * recharts. Includes also the all time stats.
 */
.homeStats {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    height: 100%;
    background: $containerWhite;
    &__ratings {
        width: 100%;
        height: 100%;
        box-shadow: 0 0 20px 1px $shadow;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__chart {
            height: 100%;
            width: 240px;
            padding: 0;
        }
        &__label {
            font-size: 16px;
            padding-bottom: 10px;
        }
        &__empty {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__allTime {
        width: 100%;
        height: 90px;
        background: $white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px 1px $shadow;
        padding: 4px;
        box-sizing: border-box;
        &__stats {
            display: flex;
            height: 100%;
            justify-content: space-around;
            flex-direction: row;
            padding-top: 10px;
            padding-bottom: 10px;
            & div {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: 1;
                &__value {
                    font-size: 24px;
                }
                &__label {
                    font-size: 14px;
                }
            }
    
            &__reviews {
                border-left: 1px solid $grey;
                border-right: 1px solid $grey;
            }
        }
        &__title {
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
        }
    }
    &__loading {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}