@import '../colorsAndFonts.scss';
@import './_latestReviews';
.home {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__header {
        width: 100vw;
    }
    &__grid {
        display: grid;
        height: 100%;
        grid-template-columns: auto 700px 320px auto;
        grid-template-rows: 10px 50px 500px 200px auto 40px;
        gap: 20px;
        overflow: scroll;
        &__title {
            grid-row: 2/2;
            grid-column: 2/4;
            padding-left: 2px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            border: 1px solid blue;
            &__text {
                font-family: 'mainFont';
                font-size: 36px;
                line-height: 28px;
            }
        }
        &__latestReviews {
            grid-row: 3/3;
            grid-column: 2/2;
        }
        &__mostPopular {
            grid-row: 3/3;
            grid-column: 3/3;
            background: pink;
        }
        &__homeChart {
            grid-row: 4/4;
            grid-column: 2/2;
            background: yellow;
        }
        &__homeChange {
            grid-row: 4/4;
            grid-column: 3/3;
            background: orange;
        }
        &__footer {
            background: green;
            grid-row: 6/6;
            grid-column: 1/5;
            height: 60px;
            width: 100vw;
        }
    }
}