@import './_selections.scss';
@import './_userInfo.scss';
@import './_deleteAccount.scss';

.settings {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: default;
	&__grid {
		display: grid;
		height: 100%;
		grid-template-columns: auto 600px auto;
		grid-template-rows: 20px 50px 300px;
		gap: 20px;
		&__title {
			grid-row: 2/2;
			grid-column: 2/2;
			font-size: 36px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&__selections {
			grid-row: 3/3;
			grid-column: 2/2;
		}
		&__footer {
			grid-row: 5/5;
			grid-column: 1/4;
			width: 100vw;
		}
	}
}