@import './_selections.scss';
@import './_userInfo.scss';
@import './_deleteAccount.scss';

.settings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    &__grid {
        display: grid;
        height: 100%;
        grid-template-columns: auto 600px auto;
        grid-template-rows: 50px 10px 50px 300px auto 60px;
        gap: 20px;
        &__header {
            grid-row: 1/1;
            grid-column: 1/4;
            width: 100vw;
        }
        &__title {
            grid-row: 3/3;
            grid-column: 2/2;
            font-size: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__selections {
            grid-row: 4/4;
            grid-column: 2/2;
        }
        &__footer {
            background: green;
            grid-row: 6/6;
            grid-column: 1/4;
            height: 60px;
            width: 100vw;
        }
    }
}