.userInfo {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100%;
	&__values {
		display: grid;
		flex-direction: column;
		padding-top: 10px;
		gap: 10px;
		
		&__closeButton {
			position: absolute;
			@extend settings-closeBtn;
			top: 0;
			right: 0;
			justify-self: flex-end;
			align-self: flex-start;
		}
		&__password {
			display: flex;
			flex-direction: column;
			gap: 10px;
			&__passContainer, &__confirmContainer {
				margin-left: 6px;
				display: grid;
				grid-template-columns: 100px 160px;
				gap: 6px;
				&__passText, &__confirmText {
					grid-column: 1;
					justify-self: flex-end;
					height: 20px;
					font-weight: 600;
					text-align: right;
				}
				&__input {
					width: 180px;
					position: relative;
					&__field {
						grid-column: 2;
						height: 24px;
						width: 100%;
						border: 1px solid $lightGrey;
						border-radius: 5px;
						box-sizing: border-box;
						&:focus {
							outline: none;
							border: 1px solid $orange;
						}
						&::placeholder {
							color: $black;
						}
					}
					&__change {
						display: none;
						position: absolute;
						top: 4px;
						right: 0px;
						font-size: 12px;
						color: $green;
						border: none;
						background: none;
					}
				}
			}
		}
	}
}