.userInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    &__header {
        height: 50px;
        display: grid;
        grid-template-columns: 100px auto 40px;
        gap: 10px;
        align-content: center;
        align-items: center;
        &__icon {
            grid-column: 1;
            justify-self: flex-end;
            height: 30px;
            width: 30px;
            border-radius: 15px;
            border: 1px solid red;
        }
        &__title {
            font-size: 24px;
            justify-self: flex-start;
            grid-column: 2;
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            line-height: 1;
            padding-bottom: 4px;
            &__change {
                background: none;
                border: none;
                padding: 0;
                color: $linkBlue;
                font-size: 10px;
                cursor: pointer;
            }
        }
        &__closeButton {
            grid-column: 3;
            justify-self: flex-end;
            align-self: flex-start;
        }
    }
    &__values {
        display: grid;
        flex-direction: column;
        padding-top: 10px;
        gap: 10px;
        &__username, &__name, &__password {
            margin-left: 6px;
            display: grid;
            grid-template-columns: 100px 160px;
            gap: 6px;
            &__text {
            grid-column: 1;
            justify-self: flex-end;
            height: 20px;
            font-weight: 600;
            text-align: right;
            }
            &__container {
                width: 180px;
                position: relative;
                &__input {
                    grid-column: 2;
                    height: 24px;
                    width: 100%;
                    border: 1px solid $lightGrey;
                    border-radius: 5px;
                    box-sizing: border-box;
                    &:focus {
                        outline: none;
                        border: 1px solid $orange;
                    }
                    &::placeholder {
                        color: $black;
                    }
                }
                &__change {
                    display: none;
                    position: absolute;
                    top: 4px;
                    right: 0px;
                    font-size: 12px;
                    color: $green;
                    border: none;
                    background: none;
                }
            }
        }
    }
}