.itemChart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: $white;
    border: 2px solid $lightBlue;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;

    &__selector {
        display: flex;
        justify-content: flex-end;
        gap: 0px;
        width: 140px;
        height: 20px;
        position: absolute;
        right: 4px;
        top: 0px;
        font-size: 14px;
        font-family: 'mainFont';
        & button {
            border: 0;
            background: transparent;
            padding: 3px;
        }
        &__active {
            height: 2px;
            width: 38px;
            position: absolute;
            background: $orange;
            bottom: 0px;
            left: 63px;
            border-radius: 2px;
            transition: all 0.3s ease-out;
        }
    }
}