
@mixin dataWidget($width) {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: $width;
	height: 60px;
	border-radius: 10px;
	box-shadow: 0 0 10px 2px $shadow;
	line-height: 16px;
	background: $white;
}

// styling of one star.
.star {
	background-image: url('../../data/icons/starIcon.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	filter: invert(70%) sepia(12%) saturate(3493%) hue-rotate(322deg) brightness(96%) contrast(95%);
	&__cutout {
		background: $white;
		position: absolute;
		width: 24px;
		height: 24px;
	}
}

/**
 * Sets the styling for the header in the item page.
 */

.itemTitle {
	height: 100%;
	padding-left: 2px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	padding: 0;
	&__info {
		width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-left: 4px;
		box-sizing: border-box;
		overflow: hidden;
		&__name {
			font-size: 36px;
		}
	}
	&__data {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		gap: 10px;
		&__reviews, &__positive, &__negative {
			@include dataWidget(90px);
			&__value {
				font-size: 20px;
			}
		}
		&__rating {
			position: relative;
			@include dataWidget(150px);
			&__stars {
				position: relative;
				display: flex;
				justify-content: center;
				width: 100%;
				height: 100%;
				display: flex;
				gap: 2px;
			}
			&__hover {
				display: none;
				height: 24px;
				justify-content: center;
				align-items: center;
				background: white;
			}
		}
	}
}